[build]
  publish = "build"
  command = "npm run build"

[[headers]]
for = "/.well-known/assetlinks.json"
[headers.values]
Content-Type = "application/json"

# SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200